{% extends 'base.html' %}
{% load static %}
 
{% block title %}
    Home
{% endblock %}


{% block content %}

 {% include '_header.html' %}

  <main class="cards-page">
    {% for parent in parents %}
    <article id="profile{{ forloop.counter }}" class="card">
      <figure>
          <a href="{% url 'parent_update' parent.id %}" title="Clique na imagem para atualizar ou deletar">
          {% if parent.photo %}
              <img src="{{ parent.photo.url }}" alt="{{ parent.name }}" width="600" height="600">
          {% else %}
              <img src="{% static 'images/no-photo.png' %}" alt="Sem foto" width="600" height="600">
          {% endif %}
          </a>
          <figcaption>{{ parent.name }} {{parent.last_name}}</figcaption>
        </figure>
      <!-- <p>{{ parent.birthday|date:"d/m/Y" }}</p> -->
      <p>{{ parent.birthday|date:"d \d\e F \d\e Y" }}</p>
    </article>
    {% endfor %}
  </main>

 {% include '_footer.html' %}
  
</body>
</html>
{% endblock %}