 {% load static %}
 <header>
    <h1>FAMÍLIA LANGE</h1>

    <nav>
          <a href="{% url 'login' %}">Entrar</a>
          
     {% if user.is_authenticated %}
          <a href="{% url 'users' %}">Usuário</a> 
          <a href="{% url 'parent_create' %}">Cadastro</a>
          <a href="{% url 'parents' %}">Fotos</a>
          <a href="{% url 'logout' %}">Sair</a>
     {% endif %}
            
          {% if user.is_authenticated %}
            <div class="user-info">
             {% if user.parent.photo %}
                  <img src="{{ user.parent.photo.url }}" alt="{{ user.username }}" class="user-avatar">
             {% else %}
                  <img src="{% static 'images/semfoto.png' %}" alt="Avatar" class="user-avatar">
                  {% endif %}
                  <span>Bem-vindo, {{ user.username }}</span>
            </div>
            {% endif %}
    </nav>
  </header>
